body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: auto;
  align-content: center;
}
h1 {
  box-shadow: 5px 5px 5px grey;
  font-size: 45px;
  border-radius: 25px;
  margin: auto;
  align-content: center;
  background-color: antiquewhite;
  padding: 10px;
  border: solid 2px gray;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.wiki-header {
  border-radius: 25px;
  margin: auto;
  align-content: center;
  background-color: antiquewhite;
  padding: 10px;
}

.wiki-item {
  box-shadow: 10px 5px 5px grey;
  padding: 15px 15px 15px 15px;
  border-radius: 25px;
  margin-right: 20px;
  margin-left: 20px;
  align-content: center;
  background-color: bisque;
}

.wiki-img {
  padding: auto;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.wiki-content {
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-flow: row-reverse;
}

.wiki-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 15px;
  border-radius: 25px;
  margin: auto;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}

.img-container {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}
